.container {
    width: '100%';
    background: 'white';
    border-radius: 16px
  }
  .title {
    font-size: 22px
  }
  
  .contentActions {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
  }
  
  .contentActions button {
    padding: 6px 24px;
    border-radius: 8px;
    font-weight: 700;
    width: 120px;
    font-size: 16px;
  }
  
  .cancelbtn {
    border: solid 1px #999;
    background-color: white;

  }
  
  .cancelbtn:hover {
    background-color: #eee;
    border: solid 1px #dbdbdb;
  }
  
  .cancelbtn:active {
    background-color: #dbdbdb;
  }
  
  .deletebtn {
    border: solid 1px #FF5151 ;
    background-color: #FF5151;
    color: white;
  }
  
  .deletebtn:hover {
    background-color: transparent;
    color: #FF5151;
  }
  
  .deletebtn:active {
    background-color: #ff7b7b;
    border: solid 1px #ff7b7b;
    color: white;
  }