.column {
    display: flex;
    flex-direction: column;
}

.container {
    border: solid 1px #999;
    border-radius: 16px;
    margin: 24px;
    overflow: hidden;
}

.heading {
    color: #fff;
    background-color: #7695EC;
    justify-content: space-between;
    display: flex;
    padding: 16px 24px;
    align-items: center;
}

.heading p {
    font-weight: 600;
    font-size: 20px;
}

.icon {
    margin-left: 16px;
    background: transparent;
    border: none;
    color: #fff;
    padding: 2px;
    border-radius: 8px;
    cursor: pointer;
}

.icon:hover {
    background-color: rgba(255,255,255,0.2);
}

.icon:active {
    background-color: rgba(255,255,255,0.4);
}

.content {
    padding: 24px;
}

.label {
    width: full;
    display: flex;
    justify-content: space-between;
    color: #777;
    margin-bottom: 16px;
}
