.heading {
  display: flex;
  justify-content: space-between;
  width: full;
  background-color: #7695EC;
  padding: 24px 32px;
  align-items: center;
  color: #fff;
}

.heading h1 {
  font-size: 22px;
  font-weight: 700;
}

.heading div {
  padding: 4px;
  cursor: pointer;
  border-radius: 8px;
}

.heading div:hover {
  background-color: rgba(255,255,255,0.2);
}

.newpost {
  border: solid 1px #999;
  border-radius: 16px;
  margin: 24px;
  overflow: hidden;
  padding: 24px;
}

.newpost p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 24px;
}

.newpost form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.titleInput {
  margin-top: 8px;
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  border: solid 1px #777;
}

.content {
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
  border: solid 1px #777;
  font-size: 14px;
  font-family: sans-serif;
}

.requiredtext {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 4px;
}

.submitbtn {
  background: #7695EC;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 24px;
  border-radius: 8px;
  width: 120px;
  float: right;
  border: solid 1px #7695EC;
  cursor: pointer
}

.submitbtn:hover {
  background: transparent;
  color: #7695EC;
}

.submitbtn:active {
  background: #a1b5ed;
  color: #fff;
}